- @providers.each do |provider|
  .provider
    %h3
      = link_to provider.name, provider_path(provider)
    %ul
      %li
        email: 
        = provider.email
      %li
        phone number: 
        = provider.phone
      -if provider.specialties
        %li
          specialties: 
          = provider.list_specialties
      -if provider.description
        %li
          description: 
          = provider.description
