!!! 5
%html
  %head
    %title
      = title_helper

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

    %link{ :rel =>'shortcut icon', :href => '/favicon.ico?1' }
  %body{:class => action_name}
    - if flash
      .flash=flash.notice
    .wrap.clearfix
      %header#header
        %h1.logo
          = link_to app_title, '/'
        %nav
          %ul
            %li
              Request
              %ul
                %li
                  = link_to 'Make A New Request', new_request_path
                %li
                  = link_to 'Sign Up As A Requester', new_requester_path

            %li
              Provide
              %ul
                %li
                  = link_to 'Sign Up As A Provider', new_provider_path
                %li
                  = link_to 'View All Providers', providers_path
        %p.description
          = '"' + app_title + '"'
          is a fast, convenient, small-business communication tool. 


      = yield
